.education-item {
  display: grid;
  grid-template-rows: auto auto auto auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: "degree institution"
                       "classof classof"
                       "gpa gpa"
                       "tech tech"
                       "proj proj";

  grid-gap: 3px 5px;

  padding-bottom: 10px;
  .degree {
    grid-area: degree;
    font-size: 0.95em;
  }

  .institution {
    grid-area: institution;
    font-size: 0.95em;
  }

  .gpa {
    grid-area: gpa;
    font-size: 0.9em;
  }

  .class-of {
    grid-area: classof;
    font-size: 0.9em;
  }

  .tech-stack {
    grid-area: tech;
  }

  .projects {
    grid-area: proj;
  }
}