@page {
  size: A4;
}

.page {

  width: 210mm;
  height: 297mm;
  display: block;
  overflow: hidden;

  padding: 5px 10px;

  margin-top: 10px;
  background-color: white;

  page-break-after: always;
  page-break-before: avoid;
  page-break-inside: avoid;

  .page-container {

    width: 210mm;
    max-height: 297mm;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px 5px;
  }
}