.page {

  //app styles
  width: 210mm;
  height: 297mm;
  display: block;
  overflow: hidden;

  page-break-after: always;
  page-break-before: avoid;
  page-break-inside: avoid;

  .page-container {
    width: 210mm;
    max-height: 297mm;
    display: grid;
    grid-template-columns: auto 1fr;
  }

  //user styles

  .page-container {
    grid-gap: 0 5px;
  }

  padding: 5px 10px;
  font-family: Niramit, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  line-height: 145%;
  margin-top: 10px;
  background-color: white;

}