.knowledge {

  //app styles
  display: grid;
  grid-auto-columns: auto;

  .paradigms {
    grid-area: paradigms;
  }

  .technologies {
    grid-area: technologies;
  }

  //user styles
  grid-template-areas: "technologies" "paradigms" ;

  .knowledge-label {
    font-size: 1.1em;
    font-weight: bolder;
    margin-bottom: 7px;
    margin-top: 7px;
  }
}